main {
    justify-content: flex-start;
    padding-bottom: 25px;
  };
h2 {
    font-size: 32px;
    padding: 8px;
  };
form {
    border: groove;
    padding: 8px;
    background-color: rgb(45, 20, 90);
    width: 90vw;
    max-width: 800px;
  };
h3 {
    padding: 8px;
    background-color: rgb(45, 20, 90);
  };
  input {
    padding: 8px;
    background-color: rgb(225, 225, 225);
    color: rgb(10, 10, 10);
  };
  textarea {
    padding: 8px;
    background-color: rgb(225, 225, 225);
    color: rgb(10, 10, 10);
    width: 85%;
    height: 25vw;
  };
  button {
    padding: 8px;
    background-color: rgb(225, 225, 225);
    color: rgb(10, 10, 10);
    width: 100px;
  }